.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.searchForm {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0.75rem 1rem;
  background: var(--bg);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));

  border-radius: var(--border-radius);
  border: 1px solid var(--border);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

.engineSelect {
  padding: 10px;
  background: transparent;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  color: var(--txt);
}

.searchInput {
  padding: 0.5rem 0.75rem;
  background: transparent;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--txt);
  outline: none;
  min-width: 220px;
}

.searchInput::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.searchButton {
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--txt);
}

.searchButton:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
}

.searchButton:active {
  transform: translateY(0);
}


.engineButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--border);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}