:root{
  --txt: #ddd;
  --txt-muted: #aaa;
  --blur: 3px;
  --blur-2: 5px;
  --bg: #ffffff10;
  --border: #ffffff20;
  --border-radius: 10px;
}


body,html{
  height: 100vh;
  width: 100vw;
  background: url(/wallpapers/goku.jpg);
  background-size: cover;
  background-position: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i{
  color: var(--txt);
  font-size: 1.2rem;
}

p,h1{
  color: var(--txt);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}