.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    backdrop-filter: blur(var(--blur-2));
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: var(--border-radius);
    z-index: 10;
}
.icons{
    transition: all 0.3s ease;
}
.settings:hover > .icons{
    transform: rotateZ(45deg);
}

.overlay{
    position: absolute;
    top: 80px;
    right: 30px;
    height: auto;
    min-height: 200px;
    width: 250px;
    background-color: var(--bg);
    backdrop-filter: blur(var(--blur-2));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 9;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    color: var(--txt);
    padding: 20px;
}
.divider{
    width: 80%;
    border: 1px solid var(--border);
    margin: 10px 0;
    height: 1px;
}